<h1>Lista:</h1>
<p><%= @list.name %> <span class="movie-tag"><%= pluralize(@list.movies.size, "movie") %></span></p>
<span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>
<% @list.movies.each do |movie| %>
<% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
<div class="container card p-4">
  <%= image_tag movie.poster_url, alt: movie.title, width: 100, class: "movie-img rounded-top" %>

<%= movie.title %> <span class="text-muted font-weight-normal"><%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
<small class="text-muted"><%= movie.overview %></small>
<i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
<small class="text-right flex-shrink-0"><%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>

</div>
<% end %>
<p><%= link_to "Back lists", lists_path %></p>
<p><%= link_to "Add Movie", new_list_bookmark_path(@list) %></p>
